@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Red+Hat+Display:wght@500;700;900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

:root {
  --dark-color:17%;
  --light-color:95%;
  --white-color:100%;
  --primary-color-hue: 252;
  --color-white: hsl(252, 30%, var(--white-color));
  --color-light: hsl(252, 30%, var(--light-color));
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 17%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, var(--dark-color));
  --color-black: hsl(252, 30%, 10%);
  --afterC: '0';
}

html {
  font-size: 80%;
}

body {
  background-color: var(--color-light);
  overflow-x: hidden;
  color: var(--color-dark);
  margin: auto;

  padding-left: 0px;
  padding-right: 0px;
  font-size: .8rem;
  font-family: "Poppins", sans-serif;

}


.profile {
  width: 0.3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pp {
  width: 6rem;

 
  overflow: hidden;
}


img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding-top: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 25px;
  font-size: 0.9rem;
  


}

.btn-primary:hover {
  background-color: #ff0000;
}

.btn-primary2:hover {
  background-color: #ff0000;
}

.btn-primary3:hover {
  background-color: #ff0000;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

.container {
  width: 100%;
  margin: auto;

}

.row {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.row.center {
  justify-content: center;
}

/* nav start */

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  
}

nav {
  background-color: var(--color-white);
  position: fixed;
  width: 100%;
  padding: 0.7rem 0;
  top: 0;
  z-index: 10;
  display: flex;
}

.search-bar {
  background-color: var(--color-light);
  padding: 10px;
  border-radius: 15px;
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-black);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;

  text-align: center;
}

.icon{
  font-size: 1.5rem;
  color: #000000;
 padding-right: 2rem;
 right: 0;
 position: absolute;
 
}
.icon:hover{
  color: rgb(17, 0, 255);
}
.cart{
  display: none;
}
.cart-icon{
  text-align: right;
  right: 0;
  position: absolute;
}
.count{
  position: absolute;
  width: 30%;
  left: 68%;
  border-radius: 10px;
  padding: 10px;
  background: hsl(0, 0%, 100%);
  
}
.count h2{
padding-top: 5px;
margin-left: 2rem;
/* text-align: center; */
}
.neww{
  border: solid 1px #b6b6b6;
  border-radius: 10px;
  margin-top: 1.5rem;
}
.wrapper{
  overflow: auto;
  max-height: 400px;
}
.checkout, .Vcart{
  width: 95%;
  text-align: center;
  cursor: pointer;
  background-color: #ff0000;
  font-size: 1rem;
  color: #fff;
  margin: 5px;
  padding: 5px;

}
.Vcart{
  background-color: #fff;
  border: 2px solid #ff0000;
  color: #ff0000;
}
.hide{
  display: none;
}

.see{
  font-size: 11px;
width: 15px;
display: inline-block;
text-align: center;
background-color: #ff0000;
border-radius: 50%;
color: #ffffff;
position: relative;
top: -5px;
right: 15px;
align-items: center;
justify-content: center;
text-align: center;

}
/* nav end */



/* footer start*/

.footer {
  background: var(--color-black);
  color: var(--color-gray);
  font-size: 14px;
  padding: 30px 20px;
  
  
}
.footer p {
  color: var(--color-gray);
}

.footer h3 {
  color: var(--color-white);
  margin-bottom: 16px;
  font-size: medium;
}

.col-auto img {
  width: 150px;

}


.app-logo img {
  width: 120px;
  padding-bottom: 10px;
}

.copyright {
  text-align: center;
}

.footer hr {
  border: none;
  background: var(--color-gray);
  height: 1px;
}

/* footer ends */



/* main start */

main .left{
  margin-top: 8rem;
}
main .container {
/*   display: grid;
  grid-template-columns: 100vw; */

}
#pp{
  min-height: 60vh ;
}
main .container .left {
  padding: 10px;
  border-radius: 25px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  font-size: 0.75rem;

  

}

/* .main .right {
  padding: 10px;
  
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  font-size: 0.75rem;
  justify-content: space-between;
  display: flex;
  width: 100%;

  overflow: hidden;

} */
/* main ends */

/* cart start */


.cart-table{
 
  margin: 15px auto;
  max-width: 80%;
}
table{
   width: 100%;
  border-collapse: collapse;
 
}

.cart-item{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
}
td{
  padding: 10px 5px;
}
td input{
  width: 50px;
  height: 40px;
  padding: 5px;
}
td a{
  color: #ff523b;
  font-size: 12px;
  text-decoration: none;
}
td a:hover{
  text-decoration: none;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  width: 40%;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}

/* cart ends */

/* product start */

.pp {
  transition: transform 0.5s;
  padding-bottom: 2rem;

}

.pp:hover {
  transform: translateY(-5px);

}

.card-f img {
  border-radius: 0.5rem;
  max-width: 250px;
  margin-left: 1.2rem;
}



.action {
  font-size: 1rem;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: .05rem;
  bottom: 0;
  margin-left: 1.2rem;
  padding-bottom: 10px;
  
}

.price {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding-bottom: 1rem 0;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.rating span {
  color: #ff523b;

}



.card-f {
  /*border: 0.1rem #c0c0c0 solid;*/
  border-radius: 0.5rem;
  margin: 0.3rem;
  background-color: #ffffff;
  padding-bottom: 10px;
  max-width: 350px;
  height: 350px;
  width: 150px;
  padding: 10px;
  position: relative;
}

.title-f {
  padding-top: 50px;    
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  line-height: 60px;
  caret-color: #555;
}


h4 {
  color: #555;
  font-weight: normal;
}

.card-body-f>* {
  margin-bottom: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}


.card-body-f h5 {
  color: rgb(0, 0, 0);

  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: .1rem;
}

.card-body-f h6 {
  color: rgb(0, 0, 0);
  padding-bottom: 1rem 0;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: .05rem;
}

.card-body-f p {
  color: rgb(26, 57, 161);
  font-weight: 1000;
  font-size: .6rem;
}

.card-f img {
  border-radius: 0.5rem;
  width: 150px;
  height: 150px;
}

.page-btn {
  margin: 0 auto 50px;
  padding-top: 20px;
}

.page-btn span {
  margin: 0 auto 50px;
  display: inline-block;
  border: 1px solid#ff523b;
  color: #000;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}
/* product end */
@media screen and (max-width: 700px) {
  .count{
    width: 80%;
    left: 20%;
    
    
  }
  .card-f img {
    width: 100px;
    height: 150px;
  }
  .card-f {
    max-width: 169px;
    height: 350px;
    width: 100px;
    padding: 0px;
    
  }
  .action {
    margin-left: 0.9rem;
    padding-bottom: 5px;
    
  }
}